@model Drozdzynski_Debowska.Telescopes.Interfaces.ITelescope

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telescope</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpticalSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpticalSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aperture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aperture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocalLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocalLength)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
